body,
h3,
h1,
p {
  margin: 0;
}
body {
  background-color: #ddd;
  font-family: 'Roboto Condensed', sans-serif;
}
.window {
  width: 100%;
}
.window .header {
  max-width: 620px;
  margin: auto;
}
.window .grid {
  max-width: 720px;
  height: auto;
  margin: auto;

}
.window .grid .week2 {
  width: 100%;
  margin-top: -10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.window .grid .week2 .box {
  width: 360px;
  height: 300px;
  background-color: #2757f7;
  position: relative;
}
.window .grid .week2 .box h1 {
  font-size: 26.5em;
  position: absolute;
  margin-top: -90px;
  margin-left: 50px;
  color: #ddd;
}
.window .grid .week2 .box h3 {
  color: #fff;
  margin: 20px;
  position: absolute;
  font-weight: normal;
}
.window .grid .week2 .box2 {
  width: 360px;
  height: 300px;
  background-color: #ddd;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.window .grid .week2 .box2 a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}
.window .grid .week2 .box2 .mobileLink {
  color: rgb(39, 87, 247);
}
