body,
h1,
p {
  margin: 0;
}
.window {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.window .conteiner {
  width: 420px;
  height: 420px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.window .conteiner .lamp {
  width: 120px;
  height: 120px;
  background-color: #ddd;
  border-radius: 50%;
}
.window .conteiner :target {
  background-color: #e8ae40;
}
.window .conteiner .swich {
  width: 80px;
  height: 40px;
  background-color: #666;
}
