body {
  font-family: 'Roboto Condensed', sans-serif;
}

body,
h1,
p,
a,
h3 {
  margin: 0;
}

.linkto {
  width: 80px;
  height: 80px;
  position: absolute;
}


/* End link */

svg #on {
  box-sizing: border-box;
  padding: 40px;
}

#lampPath {
  /*   stroke: #192f31; */
  stroke: #173e3c;
  fill: none;
  fill-rule: evenodd;
  stroke-width: 4.81899977;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

rect {
  fill: #173e3c;
}

.window {
  width: 100%;
  height: 100vh;
  background-color: #0e3230;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.window .conteiner {
  width: 380px;
  height: 420px;
  border-radius: 3px;
  background-color: #173e3c;
  /*   background-color: #192f31; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.window .conteiner h3 {
  color: #a52a2c;
  font-size: 2em;
  margin-top: 20px;
}

.window .conteiner p {
  color: #9ab1af;
}

.window .conteiner svg {
  margin-bottom: 25px;
}

.window .conteiner #on:target path {
  /*   stroke: #827171; */
  stroke: #a52a2c;
  -webkit-animation: flash linear 1s;
  animation: flash linear 1s;
}

.window .conteiner .swich {
  width: 140px;
  height: 60px;
  position: absolute;
  /*   background-color: #fff; */
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.window .conteiner .swich a {
  margin: 10px;
  /*   color: #827171; */
  color: #9ab1af;
  border-radius: 2px;
  width: 100px;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  border: 1px solid #9ab1af;
  letter-spacing: 2px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  /*   padding: 5px 10px; */
  font-family: 'Roboto Condensed', sans-serif;
}

.window .conteiner .swich a:hover {
  color: #173e3c;
  border: 1px solid #a52a2c;
  background-color: #a52a2c;
}

@media (max-width: 540px) {
  .window .conteiner {
    width: 100%;
    height: 100vh;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
