html {
  height: 100%;
  background-color: #ddd;
}
body {
  margin: 0;
}
.linkto {
  width: 80px;
  height: 80px;
  position: absolute;
}
.window {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
/* Phone */
.window .phone {
  width: 427px;
  height: 688px;
  background-color: #b3b3b3;
  box-shadow: 0 19px 58px rgba(0,0,0,0.40), 0 258px 12px rgba(0,0,0,0.02), 0 0 0 1px #aaa;
  border-radius: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
/* .window .phone:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 40px;
  background-color: #333;
} */
.phone .phonScreen {
  width: 414px;
  height: 628px;
  background-color: #222;
  border-radius: 5px 5px;
  box-shadow: inset 0px 0px 1px 7px #111;
}
.phone .phonScreen:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 35px;
  top: 35px;
  border-radius: 2px;
  z-index: -1;
  margin-left: -12px;
  background-color: #aaa;
}
.phone .phonScreen:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 65px;
  top: 80px;
  border-radius: 2px;
  z-index: -1;
  margin-left: -12px;
  background-color: #aaa;
}

/*Enf Phone */
/* Animated Shadows */
#marsGrub {
  -webkit-animation: rotate 14s linear infinite;
          animation: rotate 14s linear infinite;
}

#planetGrub #planetShadow {
  -webkit-animation: rotate 16s linear infinite;
          animation: rotate 16s linear infinite;
}


@-webkit-keyframes rotate {

  100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}


@keyframes rotate {

  100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}
