body {
  margin: 0;
}
html {
  height: 100%;
  background-color: #222;
}
.star {
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-animation: star 90s linear infinite;
  animation: star 90s linear infinite;
  top: 2000px;
}
.star:after {
  width: 1px;
  height: 1px;
  content: '';
  position: absolute;
  box-shadow: 345px 1138px #fff, 141px 1318px #fff, 1157px 1472px #fff, 1370px 226px #fff, 1938px 401px #fff, 1037px 1341px #fff, 1809px 996px #fff, 959px 665px #fff, 173px 578px #fff, 879px 1365px #fff, 811px 1993px #fff, 511px 1106px #fff, 1180px 1508px #fff, 500px 324px #fff, 1544px 1966px #fff, 415px 1783px #fff, 1842px 1721px #fff, 1412px 1560px #fff, 660px 1429px #fff, 469px 1640px #fff, 315px 74px #fff, 199px 113px #fff, 1181px 876px #fff, 1435px 875px #fff, 1889px 336px #fff, 1885px 1112px #fff, 311px 848px #fff, 734px 1941px #fff, 597px 1452px #fff, 1515px 1640px #fff, 1202px 631px #fff, 1679px 1502px #fff, 1511px 1482px #fff, 1079px 1724px #fff, 1194px 1656px #fff, 1541px 1487px #fff, 1705px 116px #fff, 1462px 1899px #fff, 821px 266px #fff, 1763px 1735px #fff, 391px 1709px #fff, 1783px 505px #fff, 1538px 1644px #fff, 1585px 1071px #fff, 1243px 362px #fff, 1794px 1371px #fff, 191px 1554px #fff, 1783px 89px #fff, 1753px 237px #fff, 1940px 549px #fff, 121px 1656px #fff, 669px 1624px #fff, 871px 1562px #fff, 1041px 623px #fff, 949px 1159px #fff, 1472px 597px #fff, 882px 712px #fff, 1800px 470px #fff, 205px 1499px #fff, 1737px 1735px #fff, 22px 181px #fff, 1317px 1506px #fff, 287px 1646px #fff, 747px 722px #fff, 1208px 849px #fff, 1400px 805px #fff, 1781px 723px #fff, 1914px 1097px #fff, 1175px 161px #fff, 1367px 1076px #fff, 1936px 234px #fff, 1505px 340px #fff, 1486px 838px #fff, 257px 233px #fff, 11px 46px #fff, 965px 427px #fff, 699px 938px #fff, 1350px 1159px #fff, 1294px 1007px #fff, 1698px 1971px #fff, 1471px 18px #fff, 1359px 1583px #fff, 1092px 132px #fff, 1183px 1405px #fff, 1513px 117px #fff, 1219px 1184px #fff, 1131px 1065px #fff, 915px 1272px #fff, 990px 277px #fff, 825px 731px #fff, 681px 413px #fff, 37px 1253px #fff, 846px 948px #fff, 717px 311px #fff, 1620px 109px #fff, 1769px 763px #fff, 1053px 654px #fff, 305px 619px #fff, 1526px 1967px #fff, 1111px 546px #fff, 1069px 1399px #fff, 1397px 730px #fff, 943px 993px #fff, 1535px 810px #fff, 456px 982px #fff, 72px 1159px #fff, 30px 45px #fff, 209px 1017px #fff, 879px 704px #fff, 295px 1740px #fff, 1217px 1153px #fff, 1418px 103px #fff, 1225px 1925px #fff, 331px 845px #fff, 1866px 1497px #fff, 1493px 1932px #fff, 785px 292px #fff, 190px 1071px #fff, 1442px 1270px #fff, 210px 1860px #fff, 576px 965px #fff, 1105px 1082px #fff, 503px 1666px #fff, 488px 185px #fff, 118px 547px #fff, 304px 802px #fff, 1685px 727px #fff, 57px 1877px #fff, 1743px 156px #fff, 937px 1015px #fff, 828px 1278px #fff, 1821px 1297px #fff, 1644px 1248px #fff, 1854px 133px #fff, 1712px 1500px #fff, 1614px 140px #fff, 1583px 656px #fff, 264px 836px #fff, 1483px 948px #fff, 48px 671px #fff, 302px 1826px #fff, 1600px 1713px #fff, 1835px 1655px #fff, 694px 1790px #fff, 363px 1524px #fff, 296px 917px #fff, 1794px 73px #fff, 1124px 941px #fff, 1686px 553px #fff, 955px 439px #fff, 1138px 17px #fff, 422px 376px #fff, 1794px 1603px #fff, 812px 1063px #fff, 1656px 726px #fff, 1410px 1713px #fff, 674px 230px #fff, 100px 29px #fff, 432px 308px #fff, 1553px 688px #fff, 321px 635px #fff, 1317px 169px #fff, 232px 462px #fff, 180px 352px #fff, 1510px 935px #fff, 1918px 1479px #fff, 118px 372px #fff, 1198px 274px #fff, 1616px 109px #fff, 1796px 1441px #fff, 1040px 253px #fff, 604px 1763px #fff, 1638px 2px #fff, 304px 1778px #fff, 288px 900px #fff, 1555px 870px #fff, 1477px 976px #fff, 1967px 1441px #fff, 961px 744px #fff, 1812px 1721px #fff, 1917px 860px #fff, 1783px 1731px #fff, 894px 291px #fff, 579px 593px #fff, 889px 6px #fff, 861px 1584px #fff, 1186px 1239px #fff, 1752px 958px #fff, 835px 406px #fff, 1444px 1744px #fff, 800px 693px #fff, 632px 325px #fff, 442px 550px #fff, 116px 562px #fff, 1476px 432px #fff, 1538px 825px #fff, 1787px 1952px #fff, 177px 1127px #fff, 792px 1709px #fff, 107px 249px #fff, 1318px 1188px #fff, 1882px 461px #fff, 87px 1448px #fff, 1298px 925px #fff, 1855px 1353px #fff, 414px 703px #fff, 551px 854px #fff, 468px 1726px #fff, 175px 931px #fff, 1500px 1435px #fff, 333px 45px #fff, 1214px 1455px #fff, 577px 1569px #fff, 1120px 1646px #fff, 1503px 1812px #fff, 571px 1049px #fff, 226px 987px #fff, 287px 201px #fff, 1013px 414px #fff, 1271px 490px #fff, 1504px 641px #fff, 731px 1364px #fff, 1280px 1587px #fff, 1631px 1702px #fff, 925px 1364px #fff, 1227px 1643px #fff, 387px 1923px #fff, 1194px 1110px #fff, 1498px 397px #fff, 1115px 131px #fff, 1035px 1511px #fff, 1746px 1499px #fff, 1858px 1705px #fff, 436px 1287px #fff, 1195px 1880px #fff, 1960px 1471px #fff, 385px 613px #fff, 1143px 1568px #fff, 842px 1141px #fff, 1798px 295px #fff, 1000px 145px #fff, 364px 1072px #fff, 1618px 75px #fff, 220px 963px #fff, 1547px 164px #fff, 1636px 487px #fff, 686px 1481px #fff, 724px 1509px #fff, 1765px 1143px #fff, 411px 109px #fff, 1119px 1224px #fff, 118px 1480px #fff, 252px 875px #fff, 1364px 696px #fff, 64px 355px #fff, 1100px 260px #fff, 1101px 1833px #fff, 1481px 1447px #fff, 650px 1547px #fff, 1931px 1805px #fff, 1843px 571px #fff, 1834px 1456px #fff, 584px 299px #fff, 851px 235px #fff, 1650px 1761px #fff, 487px 1839px #fff, 434px 700px #fff, 283px 646px #fff, 548px 437px #fff, 1223px 1604px #fff, 1203px 1509px #fff, 1324px 1357px #fff, 1854px 228px #fff, 1877px 81px #fff, 666px 926px #fff, 1329px 21px #fff, 349px 1773px #fff, 965px 1750px #fff, 67px 1921px #fff, 1659px 1958px #fff, 1048px 1749px #fff, 779px 573px #fff, 1273px 1192px #fff, 1907px 433px #fff, 1427px 1601px #fff, 747px 1149px #fff, 1263px 542px #fff, 1241px 902px #fff, 1390px 1774px #fff, 1131px 1413px #fff, 268px 1421px #fff, 126px 1537px #fff, 1627px 160px #fff, 739px 182px #fff, 1231px 1554px #fff, 1897px 1875px #fff, 286px 1298px #fff, 1741px 1490px #fff, 823px 908px #fff, 405px 473px #fff, 589px 1203px #fff, 1765px 1122px #fff, 1230px 142px #fff, 268px 941px #fff, 485px 971px #fff, 1432px 397px #fff, 1215px 1357px #fff, 1801px 823px #fff, 1260px 442px #fff, 141px 198px #fff, 1976px 1609px #fff, 19px 65px #fff, 1013px 1575px #fff, 1888px 727px #fff, 1404px 893px #fff, 23px 532px #fff, 313px 1945px #fff, 541px 727px #fff, 1290px 1499px #fff, 585px 1374px #fff, 643px 1218px #fff, 630px 49px #fff, 556px 1184px #fff, 774px 375px #fff, 1610px 1305px #fff, 396px 1735px #fff, 866px 1117px #fff, 1713px 1028px #fff, 316px 1582px #fff, 327px 801px #fff, 1556px 196px #fff, 1485px 1015px #fff, 1585px 1897px #fff, 567px 451px #fff, 1364px 427px #fff, 396px 296px #fff, 1751px 1826px #fff, 1447px 1308px #fff, 1607px 1817px #fff, 1160px 1441px #fff, 1313px 1140px #fff, 417px 1996px #fff, 1369px 1256px #fff, 1805px 1331px #fff, 674px 701px #fff, 649px 138px #fff, 236px 812px #fff, 1460px 1824px #fff, 183px 1083px #fff, 958px 1582px #fff, 329px 1409px #fff, 1022px 856px #fff, 1581px 1770px #fff, 1343px 1168px #fff, 1992px 638px #fff, 1054px 1064px #fff, 530px 851px #fff, 326px 1393px #fff, 1756px 963px #fff, 1402px 830px #fff, 1092px 24px #fff, 1205px 1028px #fff, 287px 459px #fff, 506px 829px #fff, 1262px 714px #fff, 1266px 282px #fff, 483px 1488px #fff, 922px 776px #fff, 872px 842px #fff, 1082px 234px #fff, 990px 470px #fff, 16px 691px #fff, 749px 1504px #fff, 1629px 114px #fff, 329px 734px #fff, 1444px 1304px #fff, 291px 1627px #fff, 580px 1274px #fff, 1189px 1417px #fff, 1870px 797px #fff, 1800px 745px #fff, 908px 784px #fff, 1912px 53px #fff, 1240px 1698px #fff, 206px 108px #fff, 155px 193px #fff, 1665px 1715px #fff, 129px 42px #fff, 1916px 1336px #fff, 1538px 1508px #fff, 1672px 1953px #fff, 990px 1271px #fff, 1690px 1977px #fff, 174px 1796px #fff, 480px 1972px #fff, 89px 567px #fff, 1809px 67px #fff, 1471px 54px #fff, 1583px 1735px #fff, 645px 1110px #fff, 1687px 1310px #fff, 1757px 1197px #fff, 1022px 884px #fff, 99px 191px #fff, 1980px 1928px #fff, 1050px 183px #fff, 470px 628px #fff, 1819px 1414px #fff, 1745px 866px #fff, 613px 1588px #fff, 522px 854px #fff, 1517px 554px #fff, 545px 41px #fff, 104px 1754px #fff, 133px 1669px #fff, 724px 69px #fff, 528px 748px #fff, 1497px 188px #fff, 298px 1436px #fff, 641px 1634px #fff, 1539px 1734px #fff, 805px 967px #fff, 471px 929px #fff, 903px 1558px #fff, 667px 257px #fff, 1084px 362px #fff, 1916px 794px #fff, 627px 50px #fff, 868px 1092px #fff, 1381px 1169px #fff, 1250px 1020px #fff, 420px 1179px #fff, 1328px 385px #fff, 1289px 1972px #fff, 546px 928px #fff, 1541px 839px #fff, 260px 408px #fff, 837px 917px #fff, 602px 590px #fff, 1791px 1635px #fff, 1801px 1699px #fff, 1004px 636px #fff, 1325px 1845px #fff, 205px 259px #fff, 1096px 398px #fff, 1462px 492px #fff, 1369px 310px #fff, 1850px 541px #fff, 664px 1614px #fff, 1626px 118px #fff, 1464px 217px #fff, 167px 118px #fff, 838px 257px #fff, 997px 1567px #fff, 208px 1488px #fff, 1203px 1135px #fff, 170px 1821px #fff, 1573px 265px #fff, 1730px 484px #fff, 1420px 425px #fff, 556px 1361px #fff, 1326px 137px #fff, 1884px 255px #fff, 1205px 1389px #fff, 512px 75px #fff, 899px 958px #fff, 616px 1854px #fff, 1232px 1815px #fff, 1877px 1496px #fff, 1024px 387px #fff, 1617px 199px #fff, 865px 302px #fff, 1123px 752px #fff, 133px 501px #fff, 657px 1001px #fff, 951px 1439px #fff, 182px 980px #fff, 188px 889px #fff, 1194px 528px #fff, 1768px 187px #fff, 1576px 1450px #fff, 1357px 1707px #fff, 919px 774px #fff, 915px 1220px #fff, 1573px 260px #fff, 1625px 1068px #fff, 1319px 1366px #fff, 58px 392px #fff, 854px 312px #fff, 1369px 621px #fff, 1297px 661px #fff, 871px 379px #fff, 1582px 1949px #fff, 1603px 1857px #fff, 638px 1245px #fff, 1034px 730px #fff, 781px 1748px #fff, 317px 1594px #fff, 1647px 1258px #fff, 650px 779px #fff, 219px 780px #fff, 55px 1089px #fff, 1187px 522px #fff, 446px 1428px #fff, 1127px 1330px #fff, 344px 77px #fff, 1913px 689px #fff, 209px 1826px #fff, 1914px 280px #fff, 1765px 306px #fff, 1991px 1079px #fff, 919px 1532px #fff, 301px 1134px #fff, 7px 1098px #fff, 1038px 660px #fff, 180px 722px #fff, 58px 569px #fff, 1733px 455px #fff, 1918px 506px #fff, 1645px 861px #fff, 1043px 657px #fff, 614px 300px #fff, 271px 1743px #fff, 36px 1686px #fff, 1741px 615px #fff, 981px 543px #fff, 1726px 1149px #fff, 788px 1941px #fff, 198px 38px #fff, 1871px 1681px #fff, 514px 236px #fff, 587px 111px #fff, 485px 561px #fff, 1418px 1444px #fff, 345px 1052px #fff, 88px 485px #fff, 1594px 1914px #fff, 423px 869px #fff, 40px 1512px #fff, 1396px 825px #fff, 1399px 1778px #fff, 1083px 1412px #fff, 1732px 1179px #fff, 1640px 130px #fff, 1876px 1730px #fff, 1612px 1299px #fff, 1393px 1579px #fff, 1095px 493px #fff, 1843px 1851px #fff, 257px 647px #fff, 546px 1497px #fff, 891px 1656px #fff, 1337px 586px #fff, 253px 249px #fff, 1137px 339px #fff, 1652px 225px #fff, 1559px 1393px #fff, 1230px 257px #fff, 1697px 127px #fff, 739px 291px #fff, 935px 478px #fff, 1713px 855px #fff, 1700px 261px #fff, 1032px 203px #fff, 235px 1859px #fff, 1881px 902px #fff, 1192px 1516px #fff, 1534px 1838px #fff, 1348px 672px #fff, 1366px 415px #fff, 408px 486px #fff, 1095px 1656px #fff, 1896px 1664px #fff, 26px 354px #fff, 504px 950px #fff, 490px 1046px #fff, 1390px 453px #fff, 1920px 1496px #fff, 121px 1739px #fff, 116px 663px #fff, 10px 1258px #fff, 1525px 1417px #fff, 1682px 1107px #fff, 298px 1522px #fff, 1007px 319px #fff, 1391px 1964px #fff, 1530px 729px #fff, 474px 612px #fff, 288px 247px #fff, 908px 754px #fff, 1607px 741px #fff, 1102px 1985px #fff, 1224px 11px #fff, 427px 1846px #fff, 709px 145px #fff, 605px 1067px #fff, 1774px 229px #fff, 308px 1422px #fff, 579px 110px #fff, 421px 1076px #fff, 30px 1772px #fff, 216px 1386px #fff, 496px 995px #fff, 1400px 1003px #fff, 998px 297px #fff, 1528px 1710px #fff, 1730px 181px #fff, 20px 595px #fff, 1463px 1695px #fff, 1153px 936px #fff, 1452px 1240px #fff, 534px 1337px #fff, 305px 965px #fff, 413px 1937px #fff, 190px 1195px #fff, 1098px 81px #fff, 1711px 595px #fff, 1696px 1137px #fff, 1857px 1174px #fff, 1516px 6px #fff, 683px 272px #fff, 213px 1686px #fff, 1149px 1686px #fff, 1085px 1567px #fff, 12px 1993px #fff, 58px 1137px #fff, 1249px 1949px #fff, 1260px 163px #fff, 1566px 1756px #fff, 1197px 1931px #fff, 912px 1639px #fff, 729px 428px #fff, 26px 553px #fff, 1641px 1050px #fff, 901px 226px #fff, 1555px 1093px #fff, 1352px 1367px #fff, 737px 1981px #fff, 438px 893px #fff, 1810px 1149px #fff, 1059px 125px #fff, 788px 225px #fff, 46px 1851px #fff, 1374px 628px #fff, 1495px 568px #fff, 801px 1477px #fff, 503px 1578px #fff, 1989px 78px #fff, 984px 1688px #fff, 1538px 1628px #fff, 371px 668px #fff, 117px 956px #fff, 820px 1874px #fff, 402px 1172px #fff, 1422px 23px #fff, 1337px 1884px #fff, 212px 586px #fff, 625px 1027px #fff, 497px 246px #fff, 1789px 1216px #fff, 741px 1803px #fff, 58px 324px #fff, 1253px 180px #fff, 1101px 653px #fff, 1911px 1979px #fff, 512px 185px #fff, 1990px 1870px #fff, 669px 177px #fff, 1747px 115px #fff, 905px 1639px #fff, 1063px 767px #fff, 338px 920px #fff, 1055px 1873px #fff, 1333px 1112px #fff, 954px 1374px #fff, 1994px 1913px #fff, 888px 1445px #fff, 1294px 1134px #fff, 953px 1205px #fff, 900px 1907px #fff, 1691px 333px #fff, 35px 967px #fff, 1961px 1666px #fff, 558px 1146px #fff, 1408px 448px #fff, 1912px 1428px #fff, 522px 1796px #fff, 444px 634px #fff, 769px 1928px #fff, 1909px 487px #fff, 699px 660px #fff, 193px 1583px #fff, 1803px 1623px #fff, 1482px 914px #fff, 394px 719px #fff, 858px 511px #fff, 835px 1080px #fff, 555px 446px #fff, 938px 1674px #fff, 1054px 111px #fff;
/*opacity: 0;*/
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation: starBlink 5s infinite steps(80);
  animation: starBlink 5s infinite steps(80);
}
.star2 {
  width: 2px;
  height: 2px;
  background: transparent;
/*box-shadow: 345px 1138px #fff, 141px 1318px #fff, 1157px 1472px #fff, 1370px 226px #fff, 1938px 401px #fff, 1037px 1341px #fff, 1809px 996px #fff, 959px 665px #fff, 173px 578px #fff, 879px 1365px #fff, 811px 1993px #fff, 511px 1106px #fff, 1180px 1508px #fff, 500px 324px #fff, 1544px 1966px #fff, 415px 1783px #fff, 1842px 1721px #fff, 1412px 1560px #fff, 660px 1429px #fff, 469px 1640px #fff, 315px 74px #fff, 199px 113px #fff, 1181px 876px #fff, 1435px 875px #fff, 1889px 336px #fff, 1885px 1112px #fff, 311px 848px #fff, 734px 1941px #fff, 597px 1452px #fff, 1515px 1640px #fff, 1202px 631px #fff, 1679px 1502px #fff, 1511px 1482px #fff, 1079px 1724px #fff, 1194px 1656px #fff, 1541px 1487px #fff, 1705px 116px #fff, 1462px 1899px #fff, 821px 266px #fff, 1763px 1735px #fff, 391px 1709px #fff, 1783px 505px #fff, 1538px 1644px #fff, 1585px 1071px #fff, 1243px 362px #fff, 1794px 1371px #fff, 191px 1554px #fff, 1783px 89px #fff, 1753px 237px #fff, 1940px 549px #fff, 121px 1656px #fff, 669px 1624px #fff, 871px 1562px #fff, 1041px 623px #fff, 949px 1159px #fff, 1472px 597px #fff, 882px 712px #fff, 1800px 470px #fff, 205px 1499px #fff, 1737px 1735px #fff, 22px 181px #fff, 1317px 1506px #fff, 287px 1646px #fff, 747px 722px #fff, 1208px 849px #fff, 1400px 805px #fff, 1781px 723px #fff, 1914px 1097px #fff, 1175px 161px #fff, 1367px 1076px #fff, 1936px 234px #fff, 1505px 340px #fff, 1486px 838px #fff, 257px 233px #fff, 11px 46px #fff, 965px 427px #fff, 699px 938px #fff, 1350px 1159px #fff, 1294px 1007px #fff, 1698px 1971px #fff, 1471px 18px #fff, 1359px 1583px #fff, 1092px 132px #fff, 1183px 1405px #fff, 1513px 117px #fff, 1219px 1184px #fff, 1131px 1065px #fff, 915px 1272px #fff, 990px 277px #fff, 825px 731px #fff, 681px 413px #fff, 37px 1253px #fff, 846px 948px #fff, 717px 311px #fff, 1620px 109px #fff, 1769px 763px #fff, 1053px 654px #fff, 305px 619px #fff, 1526px 1967px #fff, 1111px 546px #fff, 1069px 1399px #fff, 1397px 730px #fff, 943px 993px #fff, 1535px 810px #fff, 456px 982px #fff, 72px 1159px #fff, 30px 45px #fff, 209px 1017px #fff, 879px 704px #fff, 295px 1740px #fff, 1217px 1153px #fff, 1418px 103px #fff, 1225px 1925px #fff, 331px 845px #fff, 1866px 1497px #fff, 1493px 1932px #fff, 785px 292px #fff, 190px 1071px #fff, 1442px 1270px #fff, 210px 1860px #fff, 576px 965px #fff, 1105px 1082px #fff, 503px 1666px #fff, 488px 185px #fff, 118px 547px #fff, 304px 802px #fff, 1685px 727px #fff, 57px 1877px #fff, 1743px 156px #fff, 937px 1015px #fff, 828px 1278px #fff, 1821px 1297px #fff, 1644px 1248px #fff, 1854px 133px #fff, 1712px 1500px #fff, 1614px 140px #fff, 1583px 656px #fff, 264px 836px #fff, 1483px 948px #fff, 48px 671px #fff, 302px 1826px #fff, 1600px 1713px #fff, 1835px 1655px #fff, 694px 1790px #fff, 363px 1524px #fff, 296px 917px #fff, 1794px 73px #fff, 1124px 941px #fff, 1686px 553px #fff, 955px 439px #fff, 1138px 17px #fff, 422px 376px #fff, 1794px 1603px #fff, 812px 1063px #fff, 1656px 726px #fff, 1410px 1713px #fff, 674px 230px #fff, 100px 29px #fff, 432px 308px #fff, 1553px 688px #fff, 321px 635px #fff, 1317px 169px #fff, 232px 462px #fff, 180px 352px #fff, 1510px 935px #fff, 1918px 1479px #fff, 118px 372px #fff, 1198px 274px #fff, 1616px 109px #fff, 1796px 1441px #fff, 1040px 253px #fff, 604px 1763px #fff, 1638px 2px #fff, 304px 1778px #fff, 288px 900px #fff, 1555px 870px #fff, 1477px 976px #fff, 1967px 1441px #fff, 961px 744px #fff, 1812px 1721px #fff, 1917px 860px #fff, 1783px 1731px #fff, 894px 291px #fff, 579px 593px #fff, 889px 6px #fff, 861px 1584px #fff, 1186px 1239px #fff, 1752px 958px #fff, 835px 406px #fff, 1444px 1744px #fff, 800px 693px #fff, 632px 325px #fff, 442px 550px #fff, 116px 562px #fff, 1476px 432px #fff, 1538px 825px #fff, 1787px 1952px #fff, 177px 1127px #fff, 792px 1709px #fff, 107px 249px #fff, 1318px 1188px #fff, 1882px 461px #fff, 87px 1448px #fff, 1298px 925px #fff, 1855px 1353px #fff, 414px 703px #fff, 551px 854px #fff, 468px 1726px #fff, 175px 931px #fff, 1500px 1435px #fff, 333px 45px #fff, 1214px 1455px #fff, 577px 1569px #fff, 1120px 1646px #fff, 1503px 1812px #fff, 571px 1049px #fff, 226px 987px #fff, 287px 201px #fff, 1013px 414px #fff, 1271px 490px #fff, 1504px 641px #fff, 731px 1364px #fff, 1280px 1587px #fff, 1631px 1702px #fff, 925px 1364px #fff, 1227px 1643px #fff, 387px 1923px #fff, 1194px 1110px #fff, 1498px 397px #fff, 1115px 131px #fff, 1035px 1511px #fff, 1746px 1499px #fff, 1858px 1705px #fff, 436px 1287px #fff, 1195px 1880px #fff, 1960px 1471px #fff, 385px 613px #fff, 1143px 1568px #fff, 842px 1141px #fff, 1798px 295px #fff, 1000px 145px #fff, 364px 1072px #fff, 1618px 75px #fff, 220px 963px #fff, 1547px 164px #fff, 1636px 487px #fff, 686px 1481px #fff, 724px 1509px #fff, 1765px 1143px #fff, 411px 109px #fff, 1119px 1224px #fff, 118px 1480px #fff, 252px 875px #fff, 1364px 696px #fff, 64px 355px #fff, 1100px 260px #fff, 1101px 1833px #fff, 1481px 1447px #fff, 650px 1547px #fff, 1931px 1805px #fff, 1843px 571px #fff, 1834px 1456px #fff, 584px 299px #fff, 851px 235px #fff, 1650px 1761px #fff, 487px 1839px #fff, 434px 700px #fff, 283px 646px #fff, 548px 437px #fff, 1223px 1604px #fff, 1203px 1509px #fff, 1324px 1357px #fff, 1854px 228px #fff, 1877px 81px #fff, 666px 926px #fff, 1329px 21px #fff, 349px 1773px #fff, 965px 1750px #fff, 67px 1921px #fff, 1659px 1958px #fff, 1048px 1749px #fff, 779px 573px #fff, 1273px 1192px #fff, 1907px 433px #fff, 1427px 1601px #fff, 747px 1149px #fff, 1263px 542px #fff, 1241px 902px #fff, 1390px 1774px #fff, 1131px 1413px #fff, 268px 1421px #fff, 126px 1537px #fff, 1627px 160px #fff, 739px 182px #fff, 1231px 1554px #fff, 1897px 1875px #fff, 286px 1298px #fff, 1741px 1490px #fff, 823px 908px #fff, 405px 473px #fff, 589px 1203px #fff, 1765px 1122px #fff, 1230px 142px #fff, 268px 941px #fff, 485px 971px #fff, 1432px 397px #fff, 1215px 1357px #fff, 1801px 823px #fff, 1260px 442px #fff, 141px 198px #fff, 1976px 1609px #fff, 19px 65px #fff, 1013px 1575px #fff, 1888px 727px #fff, 1404px 893px #fff, 23px 532px #fff, 313px 1945px #fff, 541px 727px #fff, 1290px 1499px #fff, 585px 1374px #fff, 643px 1218px #fff, 630px 49px #fff, 556px 1184px #fff, 774px 375px #fff, 1610px 1305px #fff, 396px 1735px #fff, 866px 1117px #fff, 1713px 1028px #fff, 316px 1582px #fff, 327px 801px #fff, 1556px 196px #fff, 1485px 1015px #fff, 1585px 1897px #fff, 567px 451px #fff, 1364px 427px #fff, 396px 296px #fff, 1751px 1826px #fff, 1447px 1308px #fff, 1607px 1817px #fff, 1160px 1441px #fff, 1313px 1140px #fff, 417px 1996px #fff, 1369px 1256px #fff, 1805px 1331px #fff, 674px 701px #fff, 649px 138px #fff, 236px 812px #fff, 1460px 1824px #fff, 183px 1083px #fff, 958px 1582px #fff, 329px 1409px #fff, 1022px 856px #fff, 1581px 1770px #fff, 1343px 1168px #fff, 1992px 638px #fff, 1054px 1064px #fff, 530px 851px #fff, 326px 1393px #fff, 1756px 963px #fff, 1402px 830px #fff, 1092px 24px #fff, 1205px 1028px #fff, 287px 459px #fff, 506px 829px #fff, 1262px 714px #fff, 1266px 282px #fff, 483px 1488px #fff, 922px 776px #fff, 872px 842px #fff, 1082px 234px #fff, 990px 470px #fff, 16px 691px #fff, 749px 1504px #fff, 1629px 114px #fff, 329px 734px #fff, 1444px 1304px #fff, 291px 1627px #fff, 580px 1274px #fff, 1189px 1417px #fff, 1870px 797px #fff, 1800px 745px #fff, 908px 784px #fff, 1912px 53px #fff, 1240px 1698px #fff, 206px 108px #fff, 155px 193px #fff, 1665px 1715px #fff, 129px 42px #fff, 1916px 1336px #fff, 1538px 1508px #fff, 1672px 1953px #fff, 990px 1271px #fff, 1690px 1977px #fff, 174px 1796px #fff, 480px 1972px #fff, 89px 567px #fff, 1809px 67px #fff, 1471px 54px #fff, 1583px 1735px #fff, 645px 1110px #fff, 1687px 1310px #fff, 1757px 1197px #fff, 1022px 884px #fff, 99px 191px #fff, 1980px 1928px #fff, 1050px 183px #fff, 470px 628px #fff, 1819px 1414px #fff, 1745px 866px #fff, 613px 1588px #fff, 522px 854px #fff, 1517px 554px #fff, 545px 41px #fff, 104px 1754px #fff, 133px 1669px #fff, 724px 69px #fff, 528px 748px #fff, 1497px 188px #fff, 298px 1436px #fff, 641px 1634px #fff, 1539px 1734px #fff, 805px 967px #fff, 471px 929px #fff, 903px 1558px #fff, 667px 257px #fff, 1084px 362px #fff, 1916px 794px #fff, 627px 50px #fff, 868px 1092px #fff, 1381px 1169px #fff, 1250px 1020px #fff, 420px 1179px #fff, 1328px 385px #fff, 1289px 1972px #fff, 546px 928px #fff, 1541px 839px #fff, 260px 408px #fff, 837px 917px #fff, 602px 590px #fff, 1791px 1635px #fff, 1801px 1699px #fff, 1004px 636px #fff, 1325px 1845px #fff, 205px 259px #fff, 1096px 398px #fff, 1462px 492px #fff, 1369px 310px #fff, 1850px 541px #fff, 664px 1614px #fff, 1626px 118px #fff, 1464px 217px #fff, 167px 118px #fff, 838px 257px #fff, 997px 1567px #fff, 208px 1488px #fff, 1203px 1135px #fff, 170px 1821px #fff, 1573px 265px #fff, 1730px 484px #fff, 1420px 425px #fff, 556px 1361px #fff, 1326px 137px #fff, 1884px 255px #fff, 1205px 1389px #fff, 512px 75px #fff, 899px 958px #fff, 616px 1854px #fff, 1232px 1815px #fff, 1877px 1496px #fff, 1024px 387px #fff, 1617px 199px #fff, 865px 302px #fff, 1123px 752px #fff, 133px 501px #fff, 657px 1001px #fff, 951px 1439px #fff, 182px 980px #fff, 188px 889px #fff, 1194px 528px #fff, 1768px 187px #fff, 1576px 1450px #fff, 1357px 1707px #fff, 919px 774px #fff, 915px 1220px #fff, 1573px 260px #fff, 1625px 1068px #fff, 1319px 1366px #fff, 58px 392px #fff, 854px 312px #fff, 1369px 621px #fff, 1297px 661px #fff, 871px 379px #fff, 1582px 1949px #fff, 1603px 1857px #fff, 638px 1245px #fff, 1034px 730px #fff, 781px 1748px #fff, 317px 1594px #fff, 1647px 1258px #fff, 650px 779px #fff, 219px 780px #fff, 55px 1089px #fff, 1187px 522px #fff, 446px 1428px #fff, 1127px 1330px #fff, 344px 77px #fff, 1913px 689px #fff, 209px 1826px #fff, 1914px 280px #fff, 1765px 306px #fff, 1991px 1079px #fff, 919px 1532px #fff, 301px 1134px #fff, 7px 1098px #fff, 1038px 660px #fff, 180px 722px #fff, 58px 569px #fff, 1733px 455px #fff, 1918px 506px #fff, 1645px 861px #fff, 1043px 657px #fff, 614px 300px #fff, 271px 1743px #fff, 36px 1686px #fff, 1741px 615px #fff, 981px 543px #fff, 1726px 1149px #fff, 788px 1941px #fff, 198px 38px #fff, 1871px 1681px #fff, 514px 236px #fff, 587px 111px #fff, 485px 561px #fff, 1418px 1444px #fff, 345px 1052px #fff, 88px 485px #fff, 1594px 1914px #fff, 423px 869px #fff, 40px 1512px #fff, 1396px 825px #fff, 1399px 1778px #fff, 1083px 1412px #fff, 1732px 1179px #fff, 1640px 130px #fff, 1876px 1730px #fff, 1612px 1299px #fff, 1393px 1579px #fff, 1095px 493px #fff, 1843px 1851px #fff, 257px 647px #fff, 546px 1497px #fff, 891px 1656px #fff, 1337px 586px #fff, 253px 249px #fff, 1137px 339px #fff, 1652px 225px #fff, 1559px 1393px #fff, 1230px 257px #fff, 1697px 127px #fff, 739px 291px #fff, 935px 478px #fff, 1713px 855px #fff, 1700px 261px #fff, 1032px 203px #fff, 235px 1859px #fff, 1881px 902px #fff, 1192px 1516px #fff, 1534px 1838px #fff, 1348px 672px #fff, 1366px 415px #fff, 408px 486px #fff, 1095px 1656px #fff, 1896px 1664px #fff, 26px 354px #fff, 504px 950px #fff, 490px 1046px #fff, 1390px 453px #fff, 1920px 1496px #fff, 121px 1739px #fff, 116px 663px #fff, 10px 1258px #fff, 1525px 1417px #fff, 1682px 1107px #fff, 298px 1522px #fff, 1007px 319px #fff, 1391px 1964px #fff, 1530px 729px #fff, 474px 612px #fff, 288px 247px #fff, 908px 754px #fff, 1607px 741px #fff, 1102px 1985px #fff, 1224px 11px #fff, 427px 1846px #fff, 709px 145px #fff, 605px 1067px #fff, 1774px 229px #fff, 308px 1422px #fff, 579px 110px #fff, 421px 1076px #fff, 30px 1772px #fff, 216px 1386px #fff, 496px 995px #fff, 1400px 1003px #fff, 998px 297px #fff, 1528px 1710px #fff, 1730px 181px #fff, 20px 595px #fff, 1463px 1695px #fff, 1153px 936px #fff, 1452px 1240px #fff, 534px 1337px #fff, 305px 965px #fff, 413px 1937px #fff, 190px 1195px #fff, 1098px 81px #fff, 1711px 595px #fff, 1696px 1137px #fff, 1857px 1174px #fff, 1516px 6px #fff, 683px 272px #fff, 213px 1686px #fff, 1149px 1686px #fff, 1085px 1567px #fff, 12px 1993px #fff, 58px 1137px #fff, 1249px 1949px #fff, 1260px 163px #fff, 1566px 1756px #fff, 1197px 1931px #fff, 912px 1639px #fff, 729px 428px #fff, 26px 553px #fff, 1641px 1050px #fff, 901px 226px #fff, 1555px 1093px #fff, 1352px 1367px #fff, 737px 1981px #fff, 438px 893px #fff, 1810px 1149px #fff, 1059px 125px #fff, 788px 225px #fff, 46px 1851px #fff, 1374px 628px #fff, 1495px 568px #fff, 801px 1477px #fff, 503px 1578px #fff, 1989px 78px #fff, 984px 1688px #fff, 1538px 1628px #fff, 371px 668px #fff, 117px 956px #fff, 820px 1874px #fff, 402px 1172px #fff, 1422px 23px #fff, 1337px 1884px #fff, 212px 586px #fff, 625px 1027px #fff, 497px 246px #fff, 1789px 1216px #fff, 741px 1803px #fff, 58px 324px #fff, 1253px 180px #fff, 1101px 653px #fff, 1911px 1979px #fff, 512px 185px #fff, 1990px 1870px #fff, 669px 177px #fff, 1747px 115px #fff, 905px 1639px #fff, 1063px 767px #fff, 338px 920px #fff, 1055px 1873px #fff, 1333px 1112px #fff, 954px 1374px #fff, 1994px 1913px #fff, 888px 1445px #fff, 1294px 1134px #fff, 953px 1205px #fff, 900px 1907px #fff, 1691px 333px #fff, 35px 967px #fff, 1961px 1666px #fff, 558px 1146px #fff, 1408px 448px #fff, 1912px 1428px #fff, 522px 1796px #fff, 444px 634px #fff, 769px 1928px #fff, 1909px 487px #fff, 699px 660px #fff, 193px 1583px #fff, 1803px 1623px #fff, 1482px 914px #fff, 394px 719px #fff, 858px 511px #fff, 835px 1080px #fff, 555px 446px #fff, 938px 1674px #fff, 1054px 111px #fff;*/
  -webkit-animation: star 50s linear infinite;
  animation: star 50s linear infinite;
  top: 2000px;
}
.star2:after {
  width: 2px;
  height: 2px;
  content: '';
  position: absolute;
  box-shadow: 345px 1138px #fff, 141px 1318px #fff, 1157px 1472px #fff, 1370px 226px #fff, 1938px 401px #fff, 1037px 1341px #fff, 1809px 996px #fff, 959px 665px #fff, 173px 578px #fff, 879px 1365px #fff, 811px 1993px #fff, 511px 1106px #fff, 1180px 1508px #fff, 500px 324px #fff, 1544px 1966px #fff, 415px 1783px #fff, 1842px 1721px #fff, 1412px 1560px #fff, 660px 1429px #fff, 469px 1640px #fff, 315px 74px #fff, 199px 113px #fff, 1181px 876px #fff, 1435px 875px #fff, 1889px 336px #fff, 1885px 1112px #fff, 311px 848px #fff, 734px 1941px #fff, 597px 1452px #fff, 1515px 1640px #fff, 1202px 631px #fff, 1679px 1502px #fff, 1511px 1482px #fff, 1079px 1724px #fff, 1194px 1656px #fff, 1541px 1487px #fff, 1705px 116px #fff, 1462px 1899px #fff, 821px 266px #fff, 1763px 1735px #fff, 391px 1709px #fff, 1783px 505px #fff, 1538px 1644px #fff, 1585px 1071px #fff, 1243px 362px #fff, 1794px 1371px #fff, 191px 1554px #fff, 1783px 89px #fff, 1753px 237px #fff, 1940px 549px #fff, 121px 1656px #fff, 669px 1624px #fff, 871px 1562px #fff, 1041px 623px #fff, 949px 1159px #fff, 1472px 597px #fff, 882px 712px #fff, 1800px 470px #fff, 205px 1499px #fff, 1737px 1735px #fff, 22px 181px #fff, 1317px 1506px #fff, 287px 1646px #fff, 747px 722px #fff, 1208px 849px #fff, 1400px 805px #fff, 1781px 723px #fff, 1914px 1097px #fff, 1175px 161px #fff, 1367px 1076px #fff, 1936px 234px #fff, 1505px 340px #fff, 1486px 838px #fff, 257px 233px #fff, 11px 46px #fff, 965px 427px #fff, 699px 938px #fff, 1350px 1159px #fff, 1294px 1007px #fff, 1698px 1971px #fff, 1471px 18px #fff, 1359px 1583px #fff, 1092px 132px #fff, 1183px 1405px #fff, 1513px 117px #fff, 1219px 1184px #fff, 1131px 1065px #fff, 915px 1272px #fff, 990px 277px #fff, 825px 731px #fff, 681px 413px #fff, 37px 1253px #fff, 846px 948px #fff, 717px 311px #fff, 1620px 109px #fff, 1769px 763px #fff, 1053px 654px #fff, 305px 619px #fff, 1526px 1967px #fff, 1111px 546px #fff, 1069px 1399px #fff, 1397px 730px #fff, 943px 993px #fff, 1535px 810px #fff, 456px 982px #fff, 72px 1159px #fff, 30px 45px #fff, 209px 1017px #fff, 879px 704px #fff, 295px 1740px #fff, 1217px 1153px #fff, 1418px 103px #fff, 1225px 1925px #fff, 331px 845px #fff, 1866px 1497px #fff, 1493px 1932px #fff, 785px 292px #fff, 190px 1071px #fff, 1442px 1270px #fff, 210px 1860px #fff, 576px 965px #fff, 1105px 1082px #fff, 503px 1666px #fff, 488px 185px #fff, 118px 547px #fff, 304px 802px #fff, 1685px 727px #fff, 57px 1877px #fff, 1743px 156px #fff, 937px 1015px #fff, 828px 1278px #fff, 1821px 1297px #fff, 1644px 1248px #fff, 1854px 133px #fff, 1712px 1500px #fff, 1614px 140px #fff, 1583px 656px #fff, 264px 836px #fff, 1483px 948px #fff, 48px 671px #fff, 302px 1826px #fff, 1600px 1713px #fff, 1835px 1655px #fff, 694px 1790px #fff, 363px 1524px #fff, 296px 917px #fff, 1794px 73px #fff, 1124px 941px #fff, 1686px 553px #fff, 955px 439px #fff, 1138px 17px #fff, 422px 376px #fff, 1794px 1603px #fff, 812px 1063px #fff, 1656px 726px #fff, 1410px 1713px #fff, 674px 230px #fff, 100px 29px #fff, 432px 308px #fff, 1553px 688px #fff, 321px 635px #fff, 1317px 169px #fff, 232px 462px #fff, 180px 352px #fff, 1510px 935px #fff, 1918px 1479px #fff, 118px 372px #fff, 1198px 274px #fff, 1616px 109px #fff, 1796px 1441px #fff, 1040px 253px #fff, 604px 1763px #fff, 1638px 2px #fff, 304px 1778px #fff, 288px 900px #fff, 1555px 870px #fff, 1477px 976px #fff, 1967px 1441px #fff, 961px 744px #fff, 1812px 1721px #fff, 1917px 860px #fff, 1783px 1731px #fff, 894px 291px #fff, 579px 593px #fff, 889px 6px #fff, 861px 1584px #fff, 1186px 1239px #fff, 1752px 958px #fff, 835px 406px #fff, 1444px 1744px #fff, 800px 693px #fff, 632px 325px #fff, 442px 550px #fff, 116px 562px #fff, 1476px 432px #fff, 1538px 825px #fff, 1787px 1952px #fff, 177px 1127px #fff, 792px 1709px #fff, 107px 249px #fff, 1318px 1188px #fff, 1882px 461px #fff, 87px 1448px #fff, 1298px 925px #fff, 1855px 1353px #fff, 414px 703px #fff, 551px 854px #fff, 468px 1726px #fff, 175px 931px #fff, 1500px 1435px #fff, 333px 45px #fff, 1214px 1455px #fff, 577px 1569px #fff, 1120px 1646px #fff, 1503px 1812px #fff, 571px 1049px #fff, 226px 987px #fff, 287px 201px #fff, 1013px 414px #fff, 1271px 490px #fff, 1504px 641px #fff, 731px 1364px #fff, 1280px 1587px #fff, 1631px 1702px #fff, 925px 1364px #fff, 1227px 1643px #fff, 387px 1923px #fff, 1194px 1110px #fff, 1498px 397px #fff, 1115px 131px #fff, 1035px 1511px #fff, 1746px 1499px #fff, 1858px 1705px #fff, 436px 1287px #fff, 1195px 1880px #fff, 1960px 1471px #fff, 385px 613px #fff, 1143px 1568px #fff, 842px 1141px #fff, 1798px 295px #fff, 1000px 145px #fff, 364px 1072px #fff, 1618px 75px #fff, 220px 963px #fff, 1547px 164px #fff, 1636px 487px #fff, 686px 1481px #fff, 724px 1509px #fff, 1765px 1143px #fff, 411px 109px #fff, 1119px 1224px #fff, 118px 1480px #fff, 252px 875px #fff, 1364px 696px #fff, 64px 355px #fff, 1100px 260px #fff, 1101px 1833px #fff, 1481px 1447px #fff, 650px 1547px #fff, 1931px 1805px #fff, 1843px 571px #fff, 1834px 1456px #fff, 584px 299px #fff, 851px 235px #fff, 1650px 1761px #fff, 487px 1839px #fff, 434px 700px #fff, 283px 646px #fff, 548px 437px #fff, 1223px 1604px #fff, 1203px 1509px #fff, 1324px 1357px #fff, 1854px 228px #fff, 1877px 81px #fff, 666px 926px #fff, 1329px 21px #fff, 349px 1773px #fff, 965px 1750px #fff, 67px 1921px #fff, 1659px 1958px #fff, 1048px 1749px #fff, 779px 573px #fff, 1273px 1192px #fff, 1907px 433px #fff, 1427px 1601px #fff, 747px 1149px #fff, 1263px 542px #fff, 1241px 902px #fff, 1390px 1774px #fff, 1131px 1413px #fff, 268px 1421px #fff, 126px 1537px #fff, 1627px 160px #fff, 739px 182px #fff, 1231px 1554px #fff, 1897px 1875px #fff, 286px 1298px #fff, 1741px 1490px #fff, 823px 908px #fff, 405px 473px #fff, 589px 1203px #fff, 1765px 1122px #fff, 1230px 142px #fff, 268px 941px #fff, 485px 971px #fff, 1432px 397px #fff, 1215px 1357px #fff, 1801px 823px #fff, 1260px 442px #fff, 141px 198px #fff, 1976px 1609px #fff, 19px 65px #fff, 1013px 1575px #fff, 1888px 727px #fff, 1404px 893px #fff, 23px 532px #fff, 313px 1945px #fff, 541px 727px #fff, 1290px 1499px #fff, 585px 1374px #fff, 643px 1218px #fff, 630px 49px #fff, 556px 1184px #fff, 774px 375px #fff, 1610px 1305px #fff, 396px 1735px #fff, 866px 1117px #fff, 1713px 1028px #fff, 316px 1582px #fff, 327px 801px #fff, 1556px 196px #fff, 1485px 1015px #fff, 1585px 1897px #fff, 567px 451px #fff, 1364px 427px #fff, 396px 296px #fff, 1751px 1826px #fff, 1447px 1308px #fff, 1607px 1817px #fff, 1160px 1441px #fff, 1313px 1140px #fff, 417px 1996px #fff, 1369px 1256px #fff, 1805px 1331px #fff, 674px 701px #fff, 649px 138px #fff, 236px 812px #fff, 1460px 1824px #fff, 183px 1083px #fff, 958px 1582px #fff, 329px 1409px #fff, 1022px 856px #fff, 1581px 1770px #fff, 1343px 1168px #fff, 1992px 638px #fff, 1054px 1064px #fff, 530px 851px #fff, 326px 1393px #fff, 1756px 963px #fff, 1402px 830px #fff, 1092px 24px #fff, 1205px 1028px #fff, 287px 459px #fff, 506px 829px #fff, 1262px 714px #fff, 1266px 282px #fff, 483px 1488px #fff, 922px 776px #fff, 872px 842px #fff, 1082px 234px #fff, 990px 470px #fff, 16px 691px #fff, 749px 1504px #fff, 1629px 114px #fff, 329px 734px #fff, 1444px 1304px #fff, 291px 1627px #fff, 580px 1274px #fff, 1189px 1417px #fff, 1870px 797px #fff, 1800px 745px #fff, 908px 784px #fff, 1912px 53px #fff, 1240px 1698px #fff, 206px 108px #fff, 155px 193px #fff, 1665px 1715px #fff, 129px 42px #fff, 1916px 1336px #fff, 1538px 1508px #fff, 1672px 1953px #fff, 990px 1271px #fff, 1690px 1977px #fff, 174px 1796px #fff, 480px 1972px #fff, 89px 567px #fff, 1809px 67px #fff, 1471px 54px #fff, 1583px 1735px #fff, 645px 1110px #fff, 1687px 1310px #fff, 1757px 1197px #fff, 1022px 884px #fff, 99px 191px #fff, 1980px 1928px #fff, 1050px 183px #fff, 470px 628px #fff, 1819px 1414px #fff, 1745px 866px #fff, 613px 1588px #fff, 522px 854px #fff, 1517px 554px #fff, 545px 41px #fff, 104px 1754px #fff, 133px 1669px #fff, 724px 69px #fff, 528px 748px #fff, 1497px 188px #fff, 298px 1436px #fff, 641px 1634px #fff, 1539px 1734px #fff, 805px 967px #fff, 471px 929px #fff, 903px 1558px #fff, 667px 257px #fff, 1084px 362px #fff, 1916px 794px #fff, 627px 50px #fff, 868px 1092px #fff, 1381px 1169px #fff, 1250px 1020px #fff, 420px 1179px #fff, 1328px 385px #fff, 1289px 1972px #fff, 546px 928px #fff, 1541px 839px #fff, 260px 408px #fff, 837px 917px #fff, 602px 590px #fff, 1791px 1635px #fff, 1801px 1699px #fff, 1004px 636px #fff, 1325px 1845px #fff, 205px 259px #fff, 1096px 398px #fff, 1462px 492px #fff, 1369px 310px #fff, 1850px 541px #fff, 664px 1614px #fff, 1626px 118px #fff, 1464px 217px #fff, 167px 118px #fff, 838px 257px #fff, 997px 1567px #fff, 208px 1488px #fff, 1203px 1135px #fff, 170px 1821px #fff, 1573px 265px #fff, 1730px 484px #fff, 1420px 425px #fff, 556px 1361px #fff, 1326px 137px #fff, 1884px 255px #fff, 1205px 1389px #fff, 512px 75px #fff, 899px 958px #fff, 616px 1854px #fff, 1232px 1815px #fff, 1877px 1496px #fff, 1024px 387px #fff, 1617px 199px #fff, 865px 302px #fff, 1123px 752px #fff, 133px 501px #fff, 657px 1001px #fff, 951px 1439px #fff, 182px 980px #fff, 188px 889px #fff, 1194px 528px #fff, 1768px 187px #fff, 1576px 1450px #fff, 1357px 1707px #fff, 919px 774px #fff, 915px 1220px #fff, 1573px 260px #fff, 1625px 1068px #fff, 1319px 1366px #fff, 58px 392px #fff, 854px 312px #fff, 1369px 621px #fff, 1297px 661px #fff, 871px 379px #fff, 1582px 1949px #fff, 1603px 1857px #fff, 638px 1245px #fff, 1034px 730px #fff, 781px 1748px #fff, 317px 1594px #fff, 1647px 1258px #fff, 650px 779px #fff, 219px 780px #fff, 55px 1089px #fff, 1187px 522px #fff, 446px 1428px #fff, 1127px 1330px #fff, 344px 77px #fff, 1913px 689px #fff, 209px 1826px #fff, 1914px 280px #fff, 1765px 306px #fff, 1991px 1079px #fff, 919px 1532px #fff, 301px 1134px #fff, 7px 1098px #fff, 1038px 660px #fff, 180px 722px #fff, 58px 569px #fff, 1733px 455px #fff, 1918px 506px #fff, 1645px 861px #fff, 1043px 657px #fff, 614px 300px #fff, 271px 1743px #fff, 36px 1686px #fff, 1741px 615px #fff, 981px 543px #fff, 1726px 1149px #fff, 788px 1941px #fff, 198px 38px #fff, 1871px 1681px #fff, 514px 236px #fff, 587px 111px #fff, 485px 561px #fff, 1418px 1444px #fff, 345px 1052px #fff, 88px 485px #fff, 1594px 1914px #fff, 423px 869px #fff, 40px 1512px #fff, 1396px 825px #fff, 1399px 1778px #fff, 1083px 1412px #fff, 1732px 1179px #fff, 1640px 130px #fff, 1876px 1730px #fff, 1612px 1299px #fff, 1393px 1579px #fff, 1095px 493px #fff, 1843px 1851px #fff, 257px 647px #fff, 546px 1497px #fff, 891px 1656px #fff, 1337px 586px #fff, 253px 249px #fff, 1137px 339px #fff, 1652px 225px #fff, 1559px 1393px #fff, 1230px 257px #fff, 1697px 127px #fff, 739px 291px #fff, 935px 478px #fff, 1713px 855px #fff, 1700px 261px #fff, 1032px 203px #fff, 235px 1859px #fff, 1881px 902px #fff, 1192px 1516px #fff, 1534px 1838px #fff, 1348px 672px #fff, 1366px 415px #fff, 408px 486px #fff, 1095px 1656px #fff, 1896px 1664px #fff, 26px 354px #fff, 504px 950px #fff, 490px 1046px #fff, 1390px 453px #fff, 1920px 1496px #fff, 121px 1739px #fff, 116px 663px #fff, 10px 1258px #fff, 1525px 1417px #fff, 1682px 1107px #fff, 298px 1522px #fff, 1007px 319px #fff, 1391px 1964px #fff, 1530px 729px #fff, 474px 612px #fff, 288px 247px #fff, 908px 754px #fff, 1607px 741px #fff, 1102px 1985px #fff, 1224px 11px #fff, 427px 1846px #fff, 709px 145px #fff, 605px 1067px #fff, 1774px 229px #fff, 308px 1422px #fff, 579px 110px #fff, 421px 1076px #fff, 30px 1772px #fff, 216px 1386px #fff, 496px 995px #fff, 1400px 1003px #fff, 998px 297px #fff, 1528px 1710px #fff, 1730px 181px #fff, 20px 595px #fff, 1463px 1695px #fff, 1153px 936px #fff, 1452px 1240px #fff, 534px 1337px #fff, 305px 965px #fff, 413px 1937px #fff, 190px 1195px #fff, 1098px 81px #fff, 1711px 595px #fff, 1696px 1137px #fff, 1857px 1174px #fff, 1516px 6px #fff, 683px 272px #fff, 213px 1686px #fff, 1149px 1686px #fff, 1085px 1567px #fff, 12px 1993px #fff, 58px 1137px #fff, 1249px 1949px #fff, 1260px 163px #fff, 1566px 1756px #fff, 1197px 1931px #fff, 912px 1639px #fff, 729px 428px #fff, 26px 553px #fff, 1641px 1050px #fff, 901px 226px #fff, 1555px 1093px #fff, 1352px 1367px #fff, 737px 1981px #fff, 438px 893px #fff, 1810px 1149px #fff, 1059px 125px #fff, 788px 225px #fff, 46px 1851px #fff, 1374px 628px #fff, 1495px 568px #fff, 801px 1477px #fff, 503px 1578px #fff, 1989px 78px #fff, 984px 1688px #fff, 1538px 1628px #fff, 371px 668px #fff, 117px 956px #fff, 820px 1874px #fff, 402px 1172px #fff, 1422px 23px #fff, 1337px 1884px #fff, 212px 586px #fff, 625px 1027px #fff, 497px 246px #fff, 1789px 1216px #fff, 741px 1803px #fff, 58px 324px #fff, 1253px 180px #fff, 1101px 653px #fff, 1911px 1979px #fff, 512px 185px #fff, 1990px 1870px #fff, 669px 177px #fff, 1747px 115px #fff, 905px 1639px #fff, 1063px 767px #fff, 338px 920px #fff, 1055px 1873px #fff, 1333px 1112px #fff, 954px 1374px #fff, 1994px 1913px #fff, 888px 1445px #fff, 1294px 1134px #fff, 953px 1205px #fff, 900px 1907px #fff, 1691px 333px #fff, 35px 967px #fff, 1961px 1666px #fff, 558px 1146px #fff, 1408px 448px #fff, 1912px 1428px #fff, 522px 1796px #fff, 444px 634px #fff, 769px 1928px #fff, 1909px 487px #fff, 699px 660px #fff, 193px 1583px #fff, 1803px 1623px #fff, 1482px 914px #fff, 394px 719px #fff, 858px 511px #fff, 835px 1080px #fff, 555px 446px #fff, 938px 1674px #fff, 1054px 111px #fff;
/*opacity: 0;*/
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation: starBlink 5s infinite steps(80);
  animation: starBlink 10s infinite steps(80);
}

/*Stars Blink*/
@-webkit-keyframes star {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@-webkit-keyframes star {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@keyframes star {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
/*Stars Blink*/
@-webkit-keyframes starBlink {
  50% {
    opacity: 0;
  }
}
@keyframes starBlink {
  50% {
    opacity: 0;
  }
}

.conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg_animat {
  width: 400px;
  height: 400px;
}
