
body,
p {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.linkto {
  width: 80px;
  height: 80px;
  position: absolute;
}

.window {
  width: 100%;
  height: 100vh;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window .watch {
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: #333;
  position: relative;
}


/**mensage**/

.window .watch .mesage {
  position: absolute;
  width: 96%;
  height: 46%;
  margin-top: -49%;
  margin-left: 2%;
  background-color: rgba(238, 238, 238, 0.72);
  border-radius: 0px 0px 190px 190px;
  opacity: 0;
  animation: mensage1 8s ease-in-out 5s forwards;
}

.window .watch .mesage2 {
  animation: mensage1 5s ease-in-out 15s forwards;
}

.window .watch .mesage3 {
  animation: mensage1 5s ease-in-out 25s forwards;
}

.window .watch .mesage4 {
  animation: mensage1 5s ease-in-out 32s forwards;
}

.window .watch .mesage p {
  font-size: 1rem;
}

.window .watch .mesage .name {
  font-size: 1.3rem;
  margin: 15px 0px 0px 55px;
  width: 50%;
  padding: 5px 10px;
  color: #eee;
  border-radius: 2px;
  background-color: #6fd9dc;
}

.window .watch .mesage .nameMe {
  background-color: #5aa2ff;
}

.window .watch .mesage .mesageText {
  width: 60%;
  text-align: center;
  margin: auto;
  color: #37474F;
}

#sec {
  animation: rotateSec 60s infinite steps(60);
  transform-origin: bottom;
  transform-style: preserve-3D;
}

#min {
  animation: rotateMin 3600s infinite steps(60);
  transform-origin: bottom;
  transform-style: preserve-3D;
}

#hour {
  transform: rotate(340deg);
  transform-origin: bottom;
  transform-style: preserve-3D;
}

@-webkit-keyframes rotateSec {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateSec {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateMin {
  0% {
    transform: rotate(60deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes rotateMin {
  0% {
    transform: rotate(60deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes mensage1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
