body {
  margin: 0;
}


.window {
  width: 100%;
  height: 100vh;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window .watch {
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: #333;
}

#sec {
  animation: rotateSec 60s infinite steps(60);
  transform-origin: bottom;
  transform-style: preserve-3D;
}

#min {
  animation: rotateMin 3600s infinite steps(60);
  transform-origin: bottom;
  transform-style: preserve-3D;
}

#hour {
  transform: rotate(340deg);
  transform-origin: bottom;
  transform-style: preserve-3D;
}

@-webkit-keyframes rotateSec {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateSec {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateMin {
  0% {
    transform: rotate(60deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes rotateMin {
  0% {
    transform: rotate(60deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
