body {
  margin: 0;
}

#circle {
  fill: #D3E7F2;
}

.window {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5B5B5C;
}

.window .carta {
  width: 420px;
  height: 90vh;
  background-color: #D3E7F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

@media (max-width: 540px) {
  .window .carta {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }
}

.window .carta .watch {
  width: 90%;
  height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carta .watch .circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #777;
  position: absolute;
}

#sec {
  -webkit-animation: rotateSec 60s infinite steps(60);
          animation: rotateSec 60s infinite steps(60);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
}

#min {
  -webkit-animation: rotateMin 3600s infinite steps(60);
          animation: rotateMin 3600s infinite steps(60);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
}

#hour {
  -webkit-transform: rotate(340deg);
          transform: rotate(340deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
}

@-webkit-keyframes rotateSec {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateSec {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateMin {
  0% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes rotateMin {
  0% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
