body,
h1,
p {
  margin: 0;
}

.window {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window .content {
  width: 420px;
  height: 420px;
  background-color: #eee;
  position: relative;
  border-radius: 50%;
  position: relative;
  /*   display: flex;
  justify-content: center;
  align-items: center; */
}

.window .content .sec {
  width: 10px;
  height: 210px;
  background-color: #333;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
  position: absolute;
  margin-bottom: 50%;
  margin-left: calc(50% - 5px);
  -webkit-animation: rotateSec 60s infinite steps(60);
          animation: rotateSec 60s infinite steps(60);
}

.window .content .min {
  width: 15px;
  height: 180px;
  background-color: #222;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
  position: absolute;
  margin-top: 30px;
  margin-left: calc(50% - 7.5px);
  -webkit-animation: rotateMin 3600s infinite steps(60);
          animation: rotateMin 3600s infinite steps(60);
}

.window .content .hours {
  width: 15px;
  height: 160px;
  background-color: #444;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3D;
          transform-style: preserve-3D;
  position: absolute;
  margin-top: 50px;
  margin-left: calc(50% - 7.5px);
  -webkit-animation: rotateSec 43200s infinite steps(60);
          animation: rotateSec 43200s infinite steps(60);
}

.window .content .circ {
  width: 40px;
  height: 40px;
  background-color: #555;
  position: absolute;
  margin-top: calc(50% - 20px);
  margin-left: calc(50% - 20px);
  border-radius: 50%;
}

@-webkit-keyframes rotateSec {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateSec {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateMin {
  0% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
  }
}

@keyframes rotateMin {
  0% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
  }
}
